<!-- <div class="location_entry">
	<form class="register-form">
		<input style="background-color:white; width:100%; height:40; color:black;" id="address" type="text" placeholder="Address"/>
		<input id="name" type="name" placeholder="Name of Field Trip" style="background-color:white; width:100%; height:40; color:black"/>
		<button onclick="addToFirebase(document.getElementById('address'), document.getElementById('name'))">Submit</button>
	</form>
</div> -->

</script>
<script src="assets/js/firebasemap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGdEYeNvtNYUvDOGoMjLqt4r7T8B5S_Lg&callback=initMap">
</script>
<script src="assets/js/firebaseImages.js"></script>
<script src="assets/js/firebaseJournal.js"></script>

<style>
	.page2-section {border: 1px solid black; width: 50%; height: 50%; position: relative;}
	.page2-section > h2 {
		color: rgba(0,0,0,0.4);
		font-size: 1em;
		position: absolute;
		left: 20%;
		z-index: 4;
		top: 8px;
	}

	#photo-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.my-photos {
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		flex-grow: 1.5;
		box-sizing: border-box;
		padding: 0 5%;
		width: 100%;
		height: 1px;
		align-items: flex-end;
	}

	.my-photos > img {
		height: 70%;
		margin: 8px;
		width: auto;
	}

	.choose-new-photos {
		flex-grow: 1;
		box-sizing: border-box;
		margin: 0 15%;
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		height: 1px;
		width: 70%;
		align-items: flex-end;
		position: relative;
	}

	button {
		margin: 2px;
	}

	.choose-new-photos > img {
		margin: 8px;
		width: auto;
	}

	.choose-new-photos > h2 {
		color: rgba(0,0,0,0.4);
		font-size: 1em;
		position: absolute;
		left: 8px;
		top: 8px;
	}

	.milestones-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		height: calc(100% - 50px);
		margin-top: 50px;
	}

	#map {
		height: 100%;
	}

	input[type=checkbox]
	{
		width: 28px;
		height: 28px;
		position: relative;
		margin: 20px auto;
		background: #fcfff4;
		background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	}

	label {
		display: inline;
		color: black;
	}

	.item {
		width: 30%;
		margin-left: 10px;

	}

	.new-photo {
		height: 50%;
		transition: all 0.3s;
		position: relative;
	}

	.new-photo[selected=true]{
		border: 3px solid yellow;
	}

	.journal-section {
		display: flex;
		flex-direction: row;

	}

	.journal-section > div {
		display: flex;
		flex-direction: column;
	}

	#existingEntries {
		color: black;
		overflow-y: scroll;
		margin-left: 1em;
		margin-top: 3em;
		padding-right: 1em;
	}

</style>
<script type="text/javascript">
	     (function defer() {
		if (window.jQuery) {
				$('#savebutton').click(setStudentImages);

			    $('.new-photo').click(function(e){
				console.log('clicked');
				const selected = e.target.getAttribute('selected');
				if(selected !== null){
					e.target.removeAttribute('selected')
				}
				else{
					e.target.setAttribute('selected',true)
				}
			});
		          } else {
			               setTimeout(function() { defer() }, 50);
		          }
	     })();
</script>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%; background: white;">
	<div class="page2-section" id="photo-section">
		<h2>My Photos</h2>
		<div class="my-photos">
		</div>
		<div class="choose-new-photos">
			<h2>Choose new photos</h2>
		</div>
		<button id="savebutton" onclick="addTickets(0);">Save</button>
	</div>

	<div class="page2-section journal-section"><h2>Journal</h2>
	<div>
		<textarea rows="16" cols="50" style="margin-top: 3em; margin-left: 1em;" id="journalEntry"></textarea>
		<button style="margin-left: 1em;" onclick="saveJournal();addTickets(0);">Save</button>
	</div>
	<div id="tickets" style = "color: grey; position: relative; border-style: solid; border-color: grey;"></div>
	<div id="existingEntries"></div>
	</div>
	<div class="page2-section"><h2>Field Trips</h2>
		<div id="map"></div></div>
		<div class="page2-section"><h2>Milestones</h2>
			<div class="milestones-container">
				<div class="item">
					<input type="checkbox" id="a">
					<label for="a">Create Personal Logo</label>
				</div>
				<div class="item">
					<input type="checkbox" id="a">
					<label for="a">Outdoor Adventure Hiking Trip</label>
				</div>
				<div class="item">
					<input type="checkbox" id="a">
					<label for="a">Go to the Field Museum of Natural History</label>
				</div>
				<div class="item">
					<input type="checkbox" id="a">
					<label for="a">Attend 4 family dinners in a row</label>
				</div>
				<div class="item">
					<input type="checkbox" id="a">
					<label for="a">Milestone 5</label>
				</div>
				<div class="item">
					<input type="checkbox" id="a">
					<label for="a">Mileston 6</label>
				</div>
				<div class="item">
					<input type="checkbox" id="a">
					<label for="a">Milestone 7</label>
				</div>
				<div class="item">
					<input type="checkbox" id="a">
					<label for="a">Capstone Presentation</label>
				</div>
			</div>
		</div>
	</div>
