<style>
	.page1-section {border: 1px solid black; width: 50%; height: 33%; position: relative;}
	.page1-section > h2 {
		color: rgba(0,0,0,0.4);
		font-size: 1em;
		position: absolute;
		left: 20%;
		z-index: 4;
		top: 8px;
	}

	label {
		display: inline;
		color: black;
	}

	.item {
		width: 30%;
		margin-left: 10px;

	}


</style>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%; background: white;">
	<div class="page1-section"><h2>4th Grade</h2></div>
		<div class="page1-section"><h2>5th Grade</h2></div>
			<div class="page1-section"><h2>6th Grade</h2></div>
      	<div class="page1-section"><h2>7th Grade</h2></div>
        	<div class="page1-section"><h2>8th Grade</h2></div>
</div>
