<html>
    <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
    <script src="assets/js/firebasehelper.js"></script>
    <head>
        <title><%= title %></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>

<body style="background:powderblue;">
    <!-- Header -->
        <header id="header">
            <h1><a href="#">WFF Personal Login</a></h1>
            <button onclick="redirect('mentor')">Mentor Login</button>
            <script> function redirect(where) {
                if (where == "mentor") {
                    window.open("/studentgrades.ejs");
                }
            }
            </script>
            <button>Team View</button>
        </header>
    <br><br>

    <div class="login-page">
        <div class="form">
            <form action="/index.ejs" class="register-form">
                <br><br><br>
                <input style="background-color:white; width:100%; height:40; color:black;" id="name" type="text" placeholder="name"/>
                <br><br>
                <input id="pass" type="password" placeholder="password" style="background-color:white; width:100%; height:40; color:black"/>
                <br><br>
                <button>login</button>
                <!-- <script>
                    function checkPass(user, pass) {
                        if (user != null && pass != null) {
                            console.log("hello")
                        }
                    });</script> -->
            </form>
        </div>
    </div>
    <div style="text-align: center;"><IMG SRC="http://www.wffpitchin.org/wp-content/uploads/2017/03/logo-a.png" ALT="image"></div>





    <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
</body>
