<html>
	<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
    <script src="assets/js/firebasehelper.js"></script>


	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>

	<body>

		<!-- Header -->
			<!-- <header id="header">
				<h1><a href="#">Pitch In</a></h1>
				<%- include partials/nav.ejs %>
				<ul class="topnav_unique">
		 			<li><a href="/home_page">Home</a></li>
		 			<li><a href="/index">Students</a></li>
		 			<li><a href="/mentors">Mentors</a></li>
					<li><a href="/studentgrades">Grade Levels</a></li>
				</ul>
			</header> -->

			<div style="width: 100%; height: calc(100vh - 45px); margin-top: 3.25em;">
				<%- include partials/page2.ejs %>
			</div>



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
