<html>
	<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
    <script src="assets/js/firebasehelper.js"></script>
	<script src="assets/js/firebasemap.js"></script>


	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home_page.ejs">Home</a></li>
			<li><a href="index.ejs">Students</a></li>
			<li><a href="mentors.ejs">Mentors</a></li>
			<li><a href="studentgrades.ejs">Grade levels</a></li>
		</ul>
	</nav>


	<body>
		<!-- Header -->
			<header id="header">
				<h1><a href="#">Pitch In</a></h1>
			</header>

			<div style="width: 100%; height: calc(100vh - 45px); margin-top: 3.25em;">
				<%- include partials/mentorpartial.ejs %>
			</div>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
